﻿@model AddDeviceModel
@{
    ViewData["Title"] = "Add Device";
}
<h2>@ViewData["Title"]</h2>
@using (Html.BeginForm("Save", "Device", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.FriendlyName)</td>
            <td>@Html.EditorFor(model => model.Endpoint.FriendlyName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Description)</td>
            <td>@Html.EditorFor(model => model.Endpoint.Description)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Cookie.ExtraDetail1)</td>
            <td>@Html.EditorFor(model => model.Endpoint.Cookie.ExtraDetail1)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Cookie.ExtraDetail2)</td>
            <td>@Html.EditorFor(model => model.Endpoint.Cookie.ExtraDetail2)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Cookie.ExtraDetail3)</td>
            <td>@Html.EditorFor(model => model.Endpoint.Cookie.ExtraDetail3)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Cookie.ExtraDetail4)</td>
            <td>@Html.EditorFor(model => model.Endpoint.Cookie.ExtraDetail4)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.ManufacturerName)</td>
            <td>@Html.EditorFor(model => model.Endpoint.ManufacturerName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.DisplayCategories)</td>
            <td>@Html.DropDownListFor(model => model.Endpoint.DisplayCategories, Model.DisplayCategoryData)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Endpoint.Capabilities)</td>
            <td>@Html.ListBoxFor(model => model.Capabilities, Model.CapabilityData)</td>
        </tr>

        <tr>
            <td> @Html.LabelFor(model => model.Ip)</td>
            <td> @Html.EditorFor(model => model.Ip)</td>
        </tr>
    </table>

    @Html.HiddenFor(model => model.Id)

    <input type="submit" value="Save" class="btn btn-default" />
}