﻿@model DevicesModel
@{
    ViewData["Title"] = "Devices";
}
<h2>@ViewData["Title"]</h2>


<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Details</th>
        <th>Hersteller</th>
        <th>Kategorie</th>
        <th>Funktionen</th>
        <th>Ip</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var d in Model.Devices)
    {
    <tr>
        <td>@d.Endpoint.EndpointId</td>
        <td>@d.Endpoint.FriendlyName</td>
        <td>@d.Endpoint.Description</td>
        <td>
            <table>
                <tr><td>@d.Endpoint.Cookie.ExtraDetail1</td></tr>
                <tr><td>@d.Endpoint.Cookie.ExtraDetail2</td></tr>
                <tr><td>@d.Endpoint.Cookie.ExtraDetail3</td></tr>
                <tr><td>@d.Endpoint.Cookie.ExtraDetail4</td></tr>
            </table>
        </td>
        <td>@d.Endpoint.ManufacturerName</td>
        <td>
            @if (d.Endpoint.DisplayCategories != null)
        {
            foreach (var dis in d.Endpoint.DisplayCategories)
            {
                if (d.Endpoint.DisplayCategories.IndexOf(dis) != d.Endpoint.DisplayCategories.Count - 1)
                {
                    @String.Concat(dis.ToString(), ",")<br>
            }
            else
            {
                @dis.ToString()
        }
    }
}
        </td>
        <td>
            @if (d.Endpoint.Capabilities != null)
        {
            foreach (var cap in d.Endpoint.Capabilities)
            {
                if (d.Endpoint.Capabilities.IndexOf(cap) != d.Endpoint.Capabilities.Count - 1)
                {
                    @String.Concat(cap.Interface, ",")<br>
            }
            else
            {
                @cap.ToString()
        }
    }
}
        </td>
        <td>@d.Ip</td>
        <td>@Html.ActionLink("Edit", "Edit", "Device", new { id = d.Id }, null)</td>
        <td>@Html.ActionLink("Delete", "Delete", "Device", new { id = d.Id }, null)</td>
    </tr>
    }
</table>